* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
}

body {
  font-family: $font-main;
  font-size: 14px;
  color: #252733;
}

@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-VariabsleFont_wght.ttf") format("ttf");
 }