.modal-layout {
  display: flex;
  flex-direction: column;
  padding: 20px;

  &__header {
    flex: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    width: 100%;
  }

  &__header-title {
    font-size: 20px;
  }

  &__close-btn {
    cursor: pointer;
  }

  &__content {
    flex: auto;
    max-height: 100%;
  }

  &__controls {
    flex: none;
    display: flex;
    justify-content: space-between;
    
    margin-top: 12px;
  }
}